In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
stardata=pd.read_csv('stardata.csv',header=None,sep=',')

In [3]:
stardata.head()

           0          1                   2          3
0  56.566774  24.189735  7.3935352662039655   8.208464
1  56.557355  24.196560   7.545834754428319   7.323018
2  56.613757  24.254807    7.21777120370273   7.339084
3  56.642808  24.138091  3.5113645931028596  11.468399
4  56.663986  24.103001   7.418396935580117   9.191837

In [4]:
type(stardata[2][0])

str

In [5]:
stardata[2][0]=float(stardata[2][0])

C:\Users\ACER\AppData\Local\Temp\ipykernel_17496\210130.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stardata[2][0]=float(stardata[2][0])

In [6]:
type(stardata[2][0])

float

In [7]:
cleaned_stardata=stardata[pd.to_numeric(stardata[2],errors='coerce').notnull()]

In [8]:
cleaned_stardata

             0          1                    2          3
0    56.566774  24.189735             7.393535   8.208464
1    56.557355  24.196560    7.545834754428319   7.323018
2    56.613757  24.254807     7.21777120370273   7.339084
3    56.642808  24.138091   3.5113645931028596  11.468399
4    56.663986  24.103001    7.418396935580117   9.191837
..         ...        ...                  ...        ...
195  56.085556  24.772663    7.184980521025954  10.851324
196  57.413389  24.227447   0.7318242043789284  11.703114
197  57.275547  23.781044    7.209080087285128  10.420579
198  56.352150  23.486739   3.2474518773823196  11.549389
199  55.894421  24.593812  0.31234967684231557  11.863298

[196 rows x 4 columns]

In [18]:
h=cleaned_stardata.reset_index()

In [19]:
print(h)

     index          0          1                    2          3
0        0  56.566774  24.189735             7.393535   8.208464
1        1  56.557355  24.196560    7.545834754428319   7.323018
2        2  56.613757  24.254807     7.21777120370273   7.339084
3        3  56.642808  24.138091   3.5113645931028596  11.468399
4        4  56.663986  24.103001    7.418396935580117   9.191837
..     ...        ...        ...                  ...        ...
191    195  56.085556  24.772663    7.184980521025954  10.851324
192    196  57.413389  24.227447   0.7318242043789284  11.703114
193    197  57.275547  23.781044    7.209080087285128  10.420579
194    198  56.352150  23.486739   3.2474518773823196  11.549389
195    199  55.894421  24.593812  0.31234967684231557  11.863298

[196 rows x 5 columns]

In [15]:
d=[]
for i in range (len(cleaned_stardata)):
    print(i)
 #   a=1000/cleaned_stardata[2][i]
  #  d.append(a)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195

In [ ]:
type(cleaned_stardata[2][0])

In [ ]:
1000/cleaned_stardata[2][0]

In [ ]:
a=[]
a.append(1000/cleaned_stardata[2][0])

In [ ]:
a

In [ ]:
cleaned_stardata[0]+cleaned_stardata[1]

In [ ]:
cleaned_stardata[2][199]

In [21]:
cleaned_stardata[2][62]

KeyError: 62

In [23]:
h[2][195]

'0.31234967684231557'